<div class="navContainer">
    <div class="navBar">
        <a href="/"><button class="homeButton">Home</button></a>
        <div class="userButton">
            <a href="/signup">
                <div class="signUpButton"></div>
                <button>Sign Up</button>
            </a>
            <a href="/login">
                <div class="logInButton"></div>
                <button>Log In</button>
            </a>
        </div>
    </div>
</div>