<div class="navContainer">
    <div class="navBar">
        <a href="/" class="button logo">
            <div class="logoImg"></div>
            <h1 class="homeButton">MembersOnly</h1>
        </a>
        <div class="userButton">
            <a href="https://github.com/guskirb" class="github">
                <div class="githubButton imgButton"></div>
            </a>
            <% if(locals.currentUser){ %>
                <p>
                    Welcome <b><%= locals.currentUser.first_name %></b>
                </p>
                <% if(locals.currentUser.admin){ %>
                    <a href="/admin" class="button">
                        <div class="adminTrue imgButton"></div>
                        Admin
                    </a>
                <% } else {%>
                    <a href="/admin" class="button">
                        <div class="adminFalse imgButton"></div>
                        Admin
                    </a>
                <% }%>
                <a href="/logout" class="button"> 
                    <div class="logOutButton imgButton"></div>
                    Log Out
                </a>
                <% } else { %>
                    <a href="/signup" class="button">
                        <div class="signUpButton imgButton"></div>
                        Sign Up
                    </a>
                    <a href="/login" class="button">
                        <div class="logInButton imgButton"></div>
                        Log In
                    </a>
                    <% }%>
        </div>
    </div>
</div>