<div class="navContainer">
    <div class="navBar">
        <a href="/"><button class="homeButton">Home</button></a>
        <div class="userButton">
            <a href="/signup"><button>Sign Up</button></a>
            <a href="/login"><button>Log In</button></a>
        </div>
    </div>
</div>