<div class="navContainer">
    <div class="navBar">
        <a href="/"><h1 class="homeButton">MembersOnly</h1></a>
        <div class="userButton">
            <% if(locals.currentUser){ %>
                <h3>
                     Welcome <%= locals.currentUser.first_name %>
                </h3>
                <% if(locals.currentUser.admin){ %>
                    <a href="/admin">
                        <div class="adminTrue imgButton"></div>
                    </a>
                <% } else {%>
                    <a href="/admin">
                        <div class="adminFalse imgButton"></div>
                    </a>
                <% }%>
                <a href="/logout">
                    <div class="logOutButton imgButton"></div>
                    <button>Log Out</button>
                </a>
                <% } else { %>
                    <a href="/signup">
                        <div class="signUpButton imgButton"></div>
                        <button>Sign Up</button>
                    </a>
                    <a href="/login">
                        <div class="logInButton imgButton"></div>
                        <button>Log In</button>
                    </a>
                    <% }%>
        </div>
    </div>
</div>