<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="container">

            <form action="" method="POST">
                <h2>Enter Admin Password</h2>
                <label for="password">Password
                    <input name="password" type="password" />
                    <% if(error){ %>
                        <span class="danger error">
                            <%= error %>
                        </span>
                    <% } %>
                </label>
                <button>Enter</button>
            </form>
        </div>
</body>

</html>