<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <div class="container">
      <div class="msgContainer">
        <h1>Messages</h1>
      </div>
      <% if(locals.currentUser){ %>
        <form method="POST" action="">
          <label for="message">Message:
            <input type="text" name="message" id="message" <% if(errors){ %>
            class='inputError'
            <% } %>/>
              <% if(errors && errors.message){ %>
                <span class="danger error">
                  <%= errors.message.msg %>
                </span>
                <% } %>
          </label>
          <button>Send</button>
        </form>
        <% } %>
    </div>
</body>

</html>