body {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1,
h2,
h3 {
  margin: 0;
}

.navContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.navBar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeButton {
  margin-right: auto;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60vw;
}

.coupled {
  display: flex;
  gap: 10px;
  width: 100%;
}

label {
  display: flex;
  flex-flow: column;
  width: 100%;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
  width: 400px;
}

form button {
  margin-top: 10px;
  width: 100%;
}

.logInButton {
  background: url(../images/login.svg) no-repeat center center/cover;
  content: "";
  height: 30px;
  width: 30px;
}

.signUpButton {
  background: url(../images/signup.svg) no-repeat center center/cover;
  content: "";
  height: 30px;
  width: 30px;
}

.userButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userButton > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
