body {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

p {
  margin: 5px;
}

h1,
h2,
h3 {
  margin: 0;
}

.danger {
  color: red;
}

.error {
  position: absolute;
  transform: translateY(50px);
}

.inputError {
  border: 1px solid red;
  background-color: #ff000010;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.navBar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.homeButton {
  margin-right: auto;
}

.logInButton {
  background: url(../images/login.svg) no-repeat center center/cover;
  content: "";
}

.logOutButton {
  background: url(../images/logout.svg) no-repeat center center/cover;
  content: "";
}

.signUpButton {
  background: url(../images/signup.svg) no-repeat center center/cover;
  content: "";
}

.deleteButton {
  background: url(../images/delete.svg) no-repeat center center/cover;
  content: "";
  border: none;
  cursor: pointer;
}

.adminTrue {
  background: url(../images/adminTrue.svg) no-repeat center center/cover;
  content: "";
}

.adminFalse {
  background: url(../images/adminFalse.svg) no-repeat center center/cover;
  content: "";
}

.imgButton {
  height: 20px;
  width: 20px;
}

.userButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userButton > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  overflow:auto;
}

.msgContainer{
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: auto;
  padding-inline: 20%;
}

.coupled {
  display: flex;
  gap: 10px;
  width: 100%;
}

label {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-inline: 5px;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
  width: 400px;
  border: solid 1px black;
  padding: 20px;
  border-radius: 5px;
}

.form h2 {
  align-self: flex-start;
  margin-bottom: 10px;
}

.form button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.button {
  border: solid black 1px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
}

.msgBox {
  margin-block: 10px;
  display: flex;
  flex-flow: column;
  gap: 3px;
}

.msgName {
  display: flex;
  align-items: center;
}

.msg {
  color: white;
  position: relative;
  width: fit-content;
  padding: 0.8em 1em;
  font-size: 1.2em;
  border-radius: 1rem;
  max-width: 30vw;
  overflow-wrap: anywhere;
}

.msgLower {
  display: flex;
  align-items: center;
}

.msgForm {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.flexRight {
  align-self: flex-end;
  align-items: flex-end;
}

.flexLeft {
  align-self: flex-start;
  align-items: flex-start;
}

.msgBlue {
  background-color: #4cbdff;
}

.msgGrey {
  background-color: #f0f0f0;
  color: black;
}